@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  text-align: center;
  background: #7149C6;
}

.content {
  width: 360px;
  background: #7149C6;
  border-radius: 10px;
  padding: 40px 38px 35px;
  box-shadow: -5px -5px 9px #FE6244,
    5px 5px 9px #FFDEB9;
}

.content .text {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: -0.4rem;
  margin-bottom: 35px;
  color: #FFDEB9;
}

.content .field {
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
}

.field input {
  height: 100%;
  width: 100%;
  padding-left: 45px;
  font-size: 18px;
  outline: none;
  border: none;
  color: #595959;
  background: #dde1e7;
  border-radius: 25px;
  box-shadow: inset -4px -4px 5px rgba(255, 255, 255, 0.5),
    inset 3px 3px 5px rgba(94, 104, 121, 0.4);
}

.field input:focus ~ label {
  box-shadow: inset 2px 2px 5px #babecc, inset -1px -1px 2px #ffffff73;
}

.field:nth-child(2) {
  margin-top: 20px;
}

.field span {
  position: absolute;
  width: 50px;
  font-size: 1.1rem;
  line-height: 50px;
  color: #595959;
}

.pass {
  margin-top: 1.3rem;
  margin-bottom: 1rem;
}

.field label {
  position: absolute;
  top: 50%;
  left: 45px;
  pointer-events: none;
  color: #666666;
  transform: translateY(-50%);
}

.field input:focus ~ label {
  opacity: 0;
}

.forgot-pass {
  text-align: left;
  margin: 10px 0 10px 5px;
}

.forgot-pass a {
  font-size: 16px;
  color: #3498db;
  text-decoration: none;
}

.forgot-pass:hover a {
  text-decoration: underline;
}

button {
  margin: 15px 0;
  width: 100%;
  height: 50px;
  color: #FFDEB9;
  font-size: 18px;
  font-weight: 600;
  background: #FE6244;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: -4px -4px 6px rgba(255, 255, 255, 0.45),
    4px 4px 6px rgba(94, 104, 121, 0.4);
}

button:hover {
  box-shadow: inset -4px -4px 5px rgba(255, 255, 255, 0.45),
    inset 4px 4px 6px rgba(94, 104, 121, 0.4);
}

button:focus {
  color: #3498db;
  box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.45),
    inset 5px 5px 6px rgba(94, 104, 121, 0.288);
}

.signup {
  font-size: 16px;
  color: #FE6244;
  margin: 10px 0;
}

.signup a {
  color: #FE6244;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}

footer {
  background-color: #7149C6;
  color: #FFDEB9;
  padding: 10px;
  text-align: center;
}